.filters {
	margin: 0 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.filters h2, ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
}

.filter-links li {
	display: inline-block;
	cursor: pointer;
	list-style: none;
	margin: 5px;
}

.filter-links li:hover {
	text-decoration: underline;
}

/***************************************************************************************/
/* RWD */

@media screen and (max-width: 900px) {
	.filters {
		text-align: center;
		display: block;
	}
	
	.filters h2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.filters ul {
		text-align: center;
		display: block;
		padding-top: 10px;
	}
}