/* Header Title */
.hero {
	height: 100vh;
}

.hero-h1 {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.hero-h1 h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 42px;
	font-weight: 800;
	opacity: 0.5;
}

.hero-h1 p {
	font-weight: 400;
	line-height: 1.4em;
	opacity: 0.8;
}

.quotation {
	font-size: 14px;
	padding: 20px;
}

/***************************************************************************************/
/* RWD */

@media screen and (max-width: 500px) {
	.hero-h1 {
		top: 10%;
	}
	
	.hero-h1 h1 {
		font-size: 22px;
		margin: 20px;
	}
	
	.hero-h1 p {
		margin: 20px;
	}
}